

:root {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-accent: #5b3df5;

  --font-size-body: 1rem;
  --font-size-h1: 5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;

  --font-title: "Electrolize", sans-serif;
  --font-body: "Pixelify Sans", monospace;
  --font-accent: "Doto", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;

  background-image: url("../img/fondo2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--color-text);
  font-family: var(--font-title);
  font-size: var(--font-size-body);
  line-height: 1.4em;
}
header {
  font-family: var(--font-body);
  text-align: center;
  margin-bottom: 2rem;
}

header p {
  font-family: var(--font-title);
  text-wrap-style: balance;
  margin-top: 0.5rem;
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/

h1 {
  font-family: var(--font-body);
  font-size: var(--font-size-h1);
  padding: 0;
}

h2 {
  font-family: var(--font-body);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-body);
  font-size: var(--font-size-h3);
}


/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/
title {
  font-size: var(--font-size-h1);
  margin: 0;
  padding: 0;
}
main,
footer {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  padding-top: 2em;
}

nav {
  position: sticky;
  top: 0;
  margin-right: 1rem;
  background-color: var(--color-background);
  padding: 1em;
  text-align: center;
}

nav a {
  padding: 0.5rem;
}


img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}